/* MOBILE STYLES */
.desktop {
	display: none;
}



/* UTILITY STYLES */
section {
	padding-right: 20px;
	padding-left: 20px;
}



/* HERO SECTION */
#hero {
	padding-top: 138px;
}



/* EMAIL SIGNUP SECTION */
#emailSignup input[type="email"] {
	width: 100%;
}



/* FOOTER */
footer {
	padding: 70px;
	height: auto;
}
footer nav > ul:nth-child(n + 2) {
	margin: 60px 0;
}